{% extends 'admin/master.html' %}

{% block body %}
{% if current_user.is_authenticated %}
<h1 class="text-center text-success">WELCOME <span>{{ current_user.name }}</span> TO ADMINISTRATOR'S PAGE</h1>
{% else %}
<form action="{{ url_for('login_admin') }}" method="post">
    <div class="mb-3 mt-3">
        <label for="username" class="form-label">Username: </label>
        <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter your password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
<p>Don't have an account? <a href="#">Register now</a></p>
{% endif %}

{% endblock %}